<%- include('./partials/detail-page-head')%>


<section class="title">
    <h1>
        <%= method.title %>
    </h1>
    <section class="mini-nav">
        <a href="/methods/<%= method.slug %>?id=<%= method.id %>" class="active">Beschrijving</a>
        <a href="/method/<%= method.slug %>/stappenplan">Stappenplan</a>
        <a href="/method/<%= method.slug %>/voorbeelden">Voorbeelden</a>
         <a href="/method/<%= method.slug %>/form?id=<%= method.id %>"" >Feedback</a>
    </section>
</section>

<section class="main-content">
    <section class="example">
        <img src="<%= method.template.url %>" class="template-image"  />
    </section>
    <section class="description">
        <p>
             <%- method.description.html %>
        </p>
    </section>
</section>

<%- include('./partials/foot') %>