<%- include('./partials/detail-page-head')%>

<section class="title">
    <h1>
        <%= detail.method.title %>
    </h1>
    <section class="mini-nav">
        <a href="/methods/<%= detail.method.slug %>?id=<%= detail.method.id %>" >Beschrijving</a>
        <a href="/method/<%= detail.method.slug %>/stappenplan">Stappenplan</a>
        <a href="/method/<%= detail.method.slug %>/voorbeelden">Voorbeelden</a>
         <a href="/method/<%= detail.method.slug %>/comments" class="active">Comments</a>
    </section>
</section>

<section class="detail-body">
    <form action="/method/<%= detail.method.slug %>/form" method="post">
        <% if(locals.error !==undefined){ %>
            <p class="message">
                <%= error %>
            </p>
            <% } %>

            <fieldset>
                <legend><h2>Comment plaatsen</h2></legend>
                
                <h3 class="message">Druk maar 1x op verzenden.</h3>

                <label for="author">Naam</label>
                <input required type="text" name="author" id="author" placeholder="..." />

                <label for="text">Jouw comment</label>
                <input required type="text" name="text" id="text" placeholder="..." />

                <label for="methodId"></label>
                <input type="hidden" name="methodId" id="methodId" value="<%= detail.method.id %>" />

                <input class="submit-button" type="submit" value="Verzend" />
            </fieldset>
    </form>

    <section class="comments">
        <h2>Comment section</h2>
        <% form.comments.forEach(comment=> { %>
            <div class="comment">
                <h3 class="comment-name"><%= comment.author %></h3>
                <span class="comment-text"><%= comment.text %></span>
            </div>
        <% }) %>
    </section>
</section>
<%- include('./partials/foot') %>
